body,html{
    font-family: work-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.header{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px 20px;
    font-size: 22px;
}
.title a{
    text-decoration:none;
    color:black;
    font-weight: 600;
}
.right-header{
    margin-top: -50px;
    display: flex;
    float: right;
}
.profile i{
    width:30px;
    height:30px;
}
.title{
    width: max-content;
}
.container{
    margin:0;
}
.row{

}
.module-profiles{
    padding-left: 20px;
    padding-right: 20px;
    background-image: url(https://img.freepik.com/free-photo/grunge-wall-texture_1194-6326.jpg?w=1480&t=st=1661463248~exp=1661463848~hmac=dd65eb9…);
    width: 100%;
    height: 170px;
}


.module-profiles-link{
    text-decoration: none;
}
.profile-icon img{
    width: 56px;
    height: 56px;
    border-radius: 56px;
}
.module-profiles-name{
    display: flex;
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    min-height: 120px;
    justify-content: space-evenly;
    align-items: center;
}
.module-profiles-posters{
    gap: 10px;
    display: flex;
    width: calc(100% + 24px);
    height: 120px;
    overflow: hidden;
}
.module-profiles-posters img{
    width: 90px;
    height: 120px;
}
.col-lg-4-10{
    width: 40%;
}
.col-lg-6-10{
    width: calc(100% * 6 / 10);
}
.collection-info{
    border-top: 1px solid #0e0e0e;
    border-bottom: 1px solid #0e0e0e;
    width: 100%;
}
.collection-info-heading{
    display: flex;
    justify-content: space-between;
}
.collection-info-footer{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
h1.big{
    font-size: 50px;
}
.module-collection{
    padding:30px;
    width: 100%;
}
.collection-titles{
    width: calc(100vw * 4 / 12 - 24px);
    display: flex;
}
.collection-description{
    width: 500px;
    display: flex;
    align-items: center;
}
.poster-items-link{
    display: block;
    position: relative;
}

.poster-item-info{
    padding: 11px 0 0;
    margin-bottom: 40px;
}
.title{
    font-size: 16px;

}
.icons{
    display: flex;
    gap: 10px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.menu{
    margin-top: -9px;
}
.footer{
    width: 100%;
    height: 50px;
    background-color: #dfdfdf;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer i{
    width: 30px;
}
.designers-input{
    display: flex;
    justify-content: center;
}
.list-row{
    margin-top: 25px;
    background-color: transparent;
    padding-bottom: 16px;
    min-height: auto;
    display: flex;
}
.list-item{
    font-size: 13px;
    gap: 20px;
}
.profile-img{
    display: flex;
    align-items: center;
}
.profile-img> div:first-child {
    position: relative;
    width: 150px;
    box-shadow: 0 0 10px 2px #00000012;
    margin-right: 5%;
    border-radius: 50%;
}
.profile-img> div:first-child>img{
    object-position: top;
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    transition: 400ms all;
}
.profile-birth{
    display: flex;
}

/*Responsive*/
@media only screen and (max-width: 992px){
    .module-profiles{
        height: 270px;

    }
}
@media only screen and (max-width: 550px){
    .collection-description{
        display: none;
    }
}
@media only screen and (max-width: 768px){
    .list-row{
        flex-direction: column;
    }
}
.icons a{
    color: #51585e;
}
.afis-buttons{
    display: flex;
    justify-content: space-between;
}
.poster-inner{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    justify-content: center;
}
.poster-inner .poster-items-link{
    width: calc((100% - 60px) / 10);
    overflow: hidden;
    box-shadow: 0 0 15px 1px #00000012;
    text-decoration: none !important;
    transition: 400ms all;
    position: relative;
}
.poster-inner .poster-items-link picture>img{
    width: 100%;
    object-fit: cover;
    height: 200px;
}
.posters-top{
    padding: 60px 20px 20px 20px;
}
.poster-item{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.poster-item .poster-items-{
    width: calc((100% - 60px) / 4);
    overflow: hidden;
    box-shadow: 0 0 15px 1px #00000012;
    text-decoration: none !important;
    transition: 400ms all;
    position: relative;
}
.poster-item .poster-items- .poster-card-top picture>img{
    width: 100%;
    object-fit: cover;
    height: 400px;
}
.poster-item .poster-items- .poster-card-top{
    width: 100%;
    overflow: hidden;
}
.poster-item-info{

}
.poster-article{
    padding: 20px;
}
.archive i{
    width: 30px;
}
@media only screen and (max-width: 992px){
    .poster-inner .poster-items-link{
        width: calc((100% - 60px) / 5);
    }
    .poster-item .poster-items-{
        width: calc((100% - 60px) / 3);
    }
}
@media only screen and (max-width: 768px){
    .poster-item .poster-items-{
        width: calc((100% - 60px) / 2);
    }
}
@media only screen and (max-width: 500px){
    .poster-item .poster-items-{
        width: calc((100% - 60px) / 1);
    }
    .poster-inner .poster-items-link{
        width: calc((100% - 60px) / 3);
    }
    .title a .header-img{
        width: 200px;
    }
    picture .resim3,
    .resim4,
    .resim5,
    .resim6{
        display: none;
    }
    .module-profiles{
        width: 100%;
    }
}
.title a .header-img{
    width: 250px;
    height: 50px;
}
.sidenav a{
    color: black;
}
.modal-body {
    display: flex;
    gap: 40px;
}
.modal-dialog{
    max-width: 750px;
}
.modal-body .common-links .title{
    font-size: 30px;
}
.modal-body .common-links{
    font-size: 20px;
}
.poster-card-top{
    display: block;
    position: relative;
}
p,
span,
a,
h1,h2,h3,h4,h5,h6{
    font-family: work-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.title strong span div{
    font-weight: 800;
}
p{
    word-break: break-word;
}
small{
    word-break: break-word;
}
@media only screen and (max-width: 800px){
    .modal-body{
    display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 700px){
    .common-links{
        width: 300px;
    }
    .modal-body{
        overflow-y: auto;
        height: 1200px;
    }
}
span,a{
    word-break: break-word;
}
.big{
    letter-spacing: -1px;
}
@media only screen and (min-width: 3000px){
    .poster-inner .poster-items-link picture>img{
        height: 800px;
    }
}

/*.module-profiles:hover{*/
/*    background: #e8e8e8;*/
/*}*/
.highlight:hover{
    font-size:35px;
}
.module-profiles{
    cursor: pointer;
}
.module-profiles .highlight{
    color: #000000; font-size:33px;font-family: work-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.module-profiles .highlight:hover{
    font-size:35px;
    color: #51585e;
}
.search-button{
    margin-right: 5vh;
}






