.header{

    background-color: #dfdfdf;
    padding: 10px 20px;
    font-size: 22px;
}
.title a{
    text-decoration:none;
    color:black;
    font-weight: 600;
}
.right-header{
    margin-top: -50px;
    display: flex;
    float: right;
}
.profile i{
    width:30px;
    height:30px;
}
.title{
    width: max-content;
}
.container{
    margin:0;
}
.row{

}
.module-profiles{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #c8c8c8;
    width: 100%;
    height: 170px;
}
.module-profiles-link{
    text-decoration: none;
}
.profile-icon img{
    width: 56px;
    height: 56px;
    border-radius: 56px;
}
.module-profiles-name{
    display: flex;
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    min-height: 120px;
    justify-content: space-evenly;
    align-items: center;
}
.module-profiles-posters{
    gap: 10px;
    display: flex;
    width: calc(100% + 24px);
    height: 120px;
    overflow: hidden;
}
.module-profiles-posters img{
    width: 90px;
    height: 120px;
}
.col-lg-4-10{
    width: 40%;
}
.col-lg-6-10{
    width: calc(100% * 6 / 10);
}
.collection-info{
    border-top: 1px solid #0e0e0e;
    border-bottom: 1px solid #0e0e0e;
    width: 100%;
}
.collection-info-heading{
    display: flex;
    justify-content: space-between;
}
.collection-info-footer{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
h1.big{
    font-size: 50px;
}
.module-collection{
    padding:30px;
}
.collection-titles{
    width: calc(100vw * 4 / 12 - 24px);
    display: flex;
}
.collection-description{
    width: 500px;
    display: flex;
    align-items: center;
}
.poster-items-link{
    display: block;
    position: relative;
}
.w-imgs img{
    width: 100%;
    height: auto;
}
.poster-item-info{
    padding: 11px 0 0;
    margin-bottom: 40px;
}
.title{
    font-size: 16px;

}
.icons{
    display: flex;
    gap: 10px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.menu{
    margin-top: -9px;
}
.footer{
    width: 100%;
    height: 50px;
    background-color: #dfdfdf;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer i{
    width: 30px;
}
.designers-input{
    display: flex;
    justify-content: center;
}
.list-row{
    margin-top: 25px;
    background-color: transparent;
    padding-bottom: 16px;
    min-height: auto;
    display: flex;
}
.list-item{
    font-size: 13px;
    gap: 20px;
}
.profile-img{
    display: flex;
    align-items: center;
}
.profile-img> div:first-child{
    position: relative;
    width: 150px;
    box-shadow: 0 0 10px 2px #00000012;
    margin-right: 5%;
    border-radius: 50%;
}
.profile-img> div:first-child>picture>img{
    object-position: top;
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    transition: 400ms all;
}
.profile-birth{
    display: flex;
}

/*Responsive*/
@media only screen and (max-width: 992px){
    .module-profiles{
        height: 270px;

    }
}
@media only screen and (max-width: 550px){
    .collection-description{
        display: none;
    }
}
@media only screen and (max-width: 768px){
    .list-row{
        flex-direction: column;
    }
}
.icons a{
    color: #51585e;
}
.afis-buttons{
    display: flex;
    justify-content: space-between;
}





